<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> Profile | <%=title%></title>
    <link rel="icon" href="/Images/logo.jpg" type="image/icon type">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/CSS/sidebar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/Images/logo.jpg" type="image/icon type">
    <!-- Font Awesome JS -->
    <script src="https://kit.fontawesome.com/8f2a0dbf9d.js" crossorigin="anonymous"></script>


</head>